form {
  background-color: #a2d2ff;
  height: 500px;
  width: 400px;
  border-color: black;
  margin-left: 400px;
  padding: 20px;
  display: grid;

}
p {
  text-align: left;
}

h1 {
  border: 5px;
  border-style: ridge;
  padding-left: 400px;
}
